<header>
  <div class="flex flex-row items-center justify-center md:justify-between">
    <nav *ngIf="!isLoginOrSignup" class="nav-container">
        <div class="nav-container-inner">
          <div>
            <ul class="nav-list-container">
              <li>
                <a href="#" routerLink="/home" routerLinkActive="active">Home</a>
              </li>
              <li>
                <a routerLink="/pointcloud" routerLinkActive="active">Point Cloud</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="hidden md:flex flex-row items-center group cursor-pointer gap-2 px-8">
      
      <p class="group-hover:text-blue-500">Logout</p>
      <i-feather name="log-out" class="w-4 h-4 group-hover:!stroke-blue-500 !stroke-gray-700 cursor-pointer"></i-feather>
    </div>
  </div>
</header>

<main class="h-full">
    <router-outlet></router-outlet>
</main>
