
<div class="p-4 sm:p-8">
    <ng-container *ngIf="view === 'list' else addFormRef">
        <div class="pb-4 flex flex-row justify-center md:justify-start">
            <button (click)="openProductForm()" class="blue-btn flex flex-row items-center gap-2">
                <i-feather name="plus-circle" class="w-4 h-4 stroke-gray-700 cursor-pointer"></i-feather>
                <span>New Product</span>
            </button>
        </div>
        <div class="list-container flex flex-row justify-center flex-wrap gap-2 md:justify-start">
            <app-product-card *ngFor="let product of products$ | async" [product]="product" (deleteProduct)="deleteProduct(product)" (editProduct)="openProductEdit(product)"></app-product-card>
        </div>
    </ng-container>
</div>



<ng-template #addFormRef>
    <div class="flex flex-row items-center mb-6 pb-3 gap-2 border-b border-gray-600 w-64 cursor-pointer" (click)="switchToListView()">
        <i-feather name="arrow-left" class="w-4 h-4 stroke-gray-400 cursor-pointer"></i-feather>
        <p class="font-medium text-gray-800">Back to Product List</p>
    </div>
    <app-product-form [product]="editingProduct" (submitProduct)="editOrAddProduct()"></app-product-form>
</ng-template>